<% page_title "Editing ticket" %>

<% form_for(@ticket) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ticket_kind_id %><br />
    <%= f.text_field :ticket_kind_id %>
  </p>
  <p>
    <%= f.label :batch_id %><br />
    <%= f.text_field :batch_id %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :report %><br />
    <%= f.check_box :report %>
  </p>
  <p>
    <%= f.label :discount_code %><br />
    <%= f.check_box :discount_code %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </p>
  <p>
    <%= f.label :processed_at %><br />
    <%= f.datetime_select :processed_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ticket %> |
<%= link_to 'Back', tickets_path %>
