<% page_title "Listing tickets" %>

<table class="tabular">
  <tr>
    <th>Batch</th>
    <th>Status</th>
    <th>Kind</th>
    <th>Email</th>
    <th>Discount Code</th>
    <th>Report</th>
    <th>Manage</th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%=h ticket.batch_id %></td>
    <td class="nowrap"><%=h ticket.status_label %></td>
    <td class="nowrap"><%=h ticket.ticket_kind.title %></td>
    <td><%=h ticket.email %></td>
    <td><%=h ticket.discount_code %></td>
    <td><%=h ticket.report %></td>
    <td class="nowrap">
      <%= link_to 'Show', ticket %>
    </td>
  </tr>
<% end %>
</table>
