<% page_title "Show ticket" %>

<p>
  <b>Status:</b>
  <%=h @ticket.status_label %>
</p>

<p>
  <b>Ticket kind:</b>
  <%=h @ticket.ticket_kind.title %>
</p>

<p>
  <b>Batch:</b>
  <%=h @ticket.batch_id %>
</p>

<p>
  <b>Email:</b>
  <%=h @ticket.email %>
</p>

<p>
  <b>Discount Code:</b>
  <%=h @ticket.discount_code %>
</p>

<p>
  <b>Report:</b>
  <%=h @ticket.report %>
</p>


<%= link_to 'Back', tickets_path %>
