<% page_title "Show batch" %>

Kind: <%= @batch.ticket_kind.title %>

<table class="batch <%= @batch.done? ? 'batch_done' : '' %> " id="batch_<%= @batch.id %>">
  <thead>
    <tr>
      <th>Status</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% for ticket in @batch.tickets %>
      <tr>
        <td id="ticket_status_for_<%= ticket.id %>"><%= ticket.status_label %></td>
        <td><%= ticket.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', batches_path %>